<div class="root">
  <div class="container">
    <d-header />
    <section class="header__section">
      <h1 class="header__section-title">Minimalist Room</h1>
      <p class="header__section-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      <img class="header__section-image" src="assets/images/header__section-image.png" alt="Header Section Image">
    </section>

    <section class="overview__section">
      <div class="overview__content">
        <div>
          <h2 class="overview__content-title">Project Overview</h2>
          <p class="overview__content-description">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
        </div>
        <div class="overview__content-information">
          <p class="overview__content-information-date">July 22 - 2022</p>
          <p class="overview__content-information-title">Interior Design - Furnitur</p>
        </div>
      </div>

      <div class="overview__content">
        <h2 class="overview__content-title">Design Process</h2>
        <p class="overview__content-description">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
        <p class="overview__content-description two">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
      </div>
    </section>

    <section class="gallery__section">
      <div class="gallery__section-images">
        <img src="assets/images/gallery__section-line1_1.png" alt="Gallery Section Image 1">
        <img src="assets/images/gallery__section-line1_2.png" alt="Gallery Section Image 2">
      </div>
      <img src="assets/images/gallery__section-line2_1.png" alt="Gallery Section Image 3">
      <div class="gallery__section-images">
        <img src="assets/images/gallery__section-line3_1.png" alt="Gallery Section Image 4">
        <img src="assets/images/gallery__section-line3_2.png" alt="Gallery Section Image 5">
      </div>
    </section>
  </div>

  <section class="contact__section">
    <div class="container">
      <div class="contact__section-block">
        <h2 class="contact__section-title">
          let's discuss making your interior like a dream place!
        </h2>
        <div class="contact__section-information">
          <p class="contact__section-information-text">Contact us below to work together to build your amazing interior</p>
          <button class="contact__section-information-button">Contact Us</button>
        </div>
      </div>
    </div>
  </section>

  <section class="footer__section">
    <div class="container">
      <div class="footer__block">
        <div>
          <img src="assets/images/logo.png" alt="Logo">
          <h2 class="footer__block-title">One of the best furniture agency.</h2>
        </div>
        <div class="footer__block-right">
          <p class="footer__block-input-label">
            <img src="assets/images/dot.png" alt="Dot">
            Enter your email to get the laterst news
          </p>
          <div class="footer__block-input-arrow">
            <img src="assets/images/input__arrow.png" alt="Input Arrow">
          </div>
          <input class="footer__block-input" type="text" placeholder="Email Address">
          <div class="footer__follow">
            <p class="footer__follow-text">Follow us On</p>
            <div class="footer__follow-items">
              <div class="footer__follow-item">
                <img src="assets/images/facebook.png" alt="Facebook">
              </div>
              <div class="footer__follow-item">
                <img src="assets/images/instagram.png" alt="Instagram">
              </div>
              <div class="footer__follow-item">
                <img src="assets/images/tiktok.png" alt="Tiktok">
              </div>
              <div class="footer__follow-item">
                <img src="assets/images/youtube.png" alt="Youtube">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
