/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("./assets/fonts/poppins/Poppins-Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body.modalOpened {
  overflow-y: hidden;
}

body.modalOpened .root {
  overflow: hidden;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1355px) {
  .container {
    max-width: 1000px;
    width: 1000px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 800px;
    width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    max-width: 550px;
    width: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
  }
}
